Gmail_Manager.json
{
  "name": "Gmail Manager",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5 * * * *"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        420
      ],
      "id": "25188ab5-dccb-4856-a894-da053fcc6a76",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TcZFCLjqkE7FVDDU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.Subject }}\nEmail body: {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promotions",
              "description": "This is any email looking to sell me things"
            },
            {
              "category": "Social",
              "description": "Any email from a social media site like YouTube or Facebook or Instagram"
            },
            {
              "category": "Personal",
              "description": "An email sent from a friend or a family members or something personal to me outside of work"
            },
            {
              "category": "Sales",
              "description": "Anything regarding clients sending over documents, sales, etc"
            },
            {
              "category": "Recruitment",
              "description": "Anyone looking for a job, or to join our team"
            },
            {
              "category": "Receipts",
              "description": "These are transaction emails for receipts"
            },
            {
              "category": "Misc",
              "description": "Anything that doesn't fall within the other categories"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -420,
        420
      ],
      "id": "2584e904-9693-4d72-a9ff-86113531a809",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -440,
        640
      ],
      "id": "87ec9dd0-a6cc-41b3-ade9-5033134948e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T7TinUDNt3kuSVzf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "964bb671-a6a3-4f76-9f7f-66fd216b6646",
      "name": "PROMOTIONS",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        160
      ],
      "id": "984d53d3-7e61-4052-8745-568b4238480a",
      "name": "Social",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2750518775353483320"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        320
      ],
      "id": "7187c5f5-1ce7-437b-9977-31797b77f4e1",
      "name": "PERSONAL",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_9093425880639079056"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        480
      ],
      "id": "2f6b7fce-5086-4c97-95f4-90f94b5da55f",
      "name": "SALES",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6028289483376890344"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        640
      ],
      "id": "4a8243fc-0615-4538-968d-ec71cadb6a06",
      "name": "RECRUITMENT",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "TcZFCLjqkE7FVDDU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4704675443450905433"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        960
      ],
      "id": "3268b05d-c890-4a1b-80f4-6f453588667e",
      "name": "MISC",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6104253795569672932"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        800
      ],
      "id": "35ab829c-9d28-464c-968a-1e38ffa223fe",
      "name": "RECEIPTS",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "ae039c1a-5bb6-409e-8a62-5116c6e6c1d0",
      "name": "Gmail",
      "webhookId": "2d2d23a1-58e2-4eaf-b528-0198bb7513ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "TcZFCLjqkE7FVDDU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at summarizing emails",
              "role": "system"
            },
            {
              "content": "=Subject: {{ $('Gmail Trigger').item.json.Subject }}\nEmail body: {{ $('Gmail Trigger').item.json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        160
      ],
      "id": "34f9b3bd-ed05-4b1a-93b9-bd7400e370ab",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "T7TinUDNt3kuSVzf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1J0OzZoD8ovlw2ox0KNOPWKXE3XCl5xbCISzuLyeqkBE",
          "mode": "list",
          "cachedResultName": "Email Summary n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J0OzZoD8ovlw2ox0KNOPWKXE3XCl5xbCISzuLyeqkBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J0OzZoD8ovlw2ox0KNOPWKXE3XCl5xbCISzuLyeqkBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Gmail Trigger').item.json.id }}",
            "Date": "={{ $now }}",
            "Subject Line": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Summary": "={{ $json.message.content }}",
            "Snippet": "={{ $('Gmail Trigger').item.json.threadId }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject Line",
              "displayName": "Subject Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        580,
        160
      ],
      "id": "5d6fc6b0-fce6-4398-b1b9-e6e900b864c9",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.subject_line }}",
        "message": "={{ $json.message.content.email_body }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        320
      ],
      "id": "25b7cac3-5377-43f8-82cc-c4f851f00d40",
      "name": "Gmail1",
      "webhookId": "86efad7a-a4f4-432f-a990-db236b59161f",
      "credentials": {
        "gmailOAuth2": {
          "id": "TcZFCLjqkE7FVDDU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at replying to emails. Please sign off on all emails as follows:\n\"Best,\nJono\"\n\nAlso separate paragraphs by lines breaks.",
              "role": "system"
            },
            {
              "content": "=Heres the email to reply to:\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nEmail body: {{ $('Gmail Trigger').item.json.snippet }}\nThis email is from: {{ $('Gmail Trigger').item.json.From }}"
            },
            {
              "content": "Please format the data in JSON format:\n{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        320
      ],
      "id": "2eef957e-b109-4c8d-8bc1-ba6f585b50d0",
      "name": "OpenAI1"
    },
    {
      "parameters": {
        "sendTo": "=jccatliff+23@gmail.com",
        "subject": "=FORWARDED: {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "=FORWARDED: {{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        800
      ],
      "id": "286e81de-136d-4e7f-b021-80b01ab8fda9",
      "name": "Gmail2",
      "webhookId": "86efad7a-a4f4-432f-a990-db236b59161f",
      "credentials": {
        "gmailOAuth2": {
          "id": "TcZFCLjqkE7FVDDU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at replying to sales emails. Please sign off on all emails as follows:\n\"Best,\nJono\"\n\nAlso separate paragraphs by lines breaks.",
              "role": "system"
            },
            {
              "content": "=Heres the email to reply to:\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nEmail body: {{ $('Gmail Trigger').item.json.snippet }}\nThis email is from: {{ $('Gmail Trigger').item.json.From }}"
            },
            {
              "content": "Please format the data in JSON format:\n{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        480
      ],
      "id": "2a3b5ade-0d79-4033-a18a-17249d50513e",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "T7TinUDNt3kuSVzf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.message.content.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        480
      ],
      "id": "d764d962-38da-4713-a24e-7f828bb42f9a",
      "name": "Gmail3",
      "webhookId": "f2533aba-c489-4dd6-aaae-3f341ea09f0c"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "=ThreadID",
              "value": "={{ $json.threadId }}"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -640,
        120
      ],
      "id": "99bed571-5d86-47d5-98b6-ec6f351b51e2",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WgT3tVZ1cXQ-5kXmCE7cvta_0aXNI2wPvzvY0gJCpyE",
          "mode": "list",
          "cachedResultName": "Job Openings from Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WgT3tVZ1cXQ-5kXmCE7cvta_0aXNI2wPvzvY0gJCpyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WgT3tVZ1cXQ-5kXmCE7cvta_0aXNI2wPvzvY0gJCpyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ThreadID",
              "displayName": "ThreadID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Snippet",
              "displayName": "Message Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        580,
        660
      ],
      "id": "d659ab44-2f34-4141-814c-68e9a4df591a",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IcPTJeKOYsFy4BRy",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "PROMOTIONS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PERSONAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SALES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RECRUITMENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RECEIPTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MISC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROMOTIONS": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PERSONAL": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SALES": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RECEIPTS": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        []
      ]
    },
    "Gmail2": {
      "main": [
        []
      ]
    },
    "RECRUITMENT": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eed5f2d5-238a-433b-b23f-3a58946006da",
  "meta": {
    "instanceId": "f57e1aff5727752c33e6236763007ae1cfaf28002896a1e81955adfba6c7fadd"
  },
  "id": "rqsGfGCU1VSnMibP",
  "tags": []
}